{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <ul>
                {% for order in orders %}
                    <li>#{{ order.id }} - {{ order.description }} <a href="{{ path('order_status', {id: order.id}) }}">View status</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}