{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <p>Products</p>
            <ul>
                {% for product in products %}
                    <li>{{ product.title }} - <a href="{{ path('buy', {id: product.id}) }}">Buy</a></li>
                {% endfor %}
            </ul>
            <hr>
            <a href="{{ path('order_list') }}">My successful orders</a>
        </div>
    </div>
{% endblock %}